<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
    <a href="/admin/">Admin</a>

    {% if list %}
        <ul>
        {% for item in list %}
            <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Person are available.</p>
    {% endif %}
</body>
</html>